body {

  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Poppins', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  color: white
}


.h-cursos {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,22,110,1) 100%);
  width: 70vw;
  height: 90px;
  
}

#main-container{
  background-color: rgb(15, 15, 15);
  display: flex;
  flex-direction: row;
  height: 100vh;

}

.Main{
  background-color: rgb(24, 24, 24);
  width: 70vw;
  height: 100vh;
}

.List{
  background-color: tomato;
  width: 30vw;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.List-Curso:hover{
  background-color: black;
}

.List-Curso{
  background-color: rgb(33, 33, 33);
  
  list-style: none;
  color: white;
  width: 62vh;
  height: 7vh;
  margin-bottom: 2px;
  
}