body {

  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'PT Sans', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  color: white
}


.h-cursos {
  background: rgb(2,0,36);
  background: linear-gradient(-180deg, rgb(3, 1, 23) 0%, rgb(8, 12, 30) 100%);
  width: 70vw;
  height: 70px;
  
}

#main-container{
  background-color: rgb(15, 15, 15);
  display: flex;
  flex-direction: row;
  height: auto;

}

.Main{
  background-color: rgb(24, 24, 24);
  width: 70vw;
  height: 100vh;
}

.List{
  width: 30vw;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.List-Curso:hover{
  background-color: black;
  cursor: pointer;
}

.List-Curso{
  background-color: rgb(33, 33, 33);
  list-style: none;
  color: white;
  width: 30vw;
  height: 6.5vh;
  margin-bottom: 2px;
  
}

@media (max-width: 600px) {
  body{
    font-size: 12px;
  }
  
}

@media(max-width: 500px) {

  body {
    overflow-y: scroll;
  }

  .h-cursos {
    width: 100vw;
    height: 10vh;
    font-size: 14px;
    
  }

  .uldiv{
    display: none;
  }

  #main-container{
    flex-direction: column;
    height: 100%;
    width: 100vw;
    justify-content: center;
    align-items: flex-start;
  
  }

  .Main{
    background-color: rgb(24, 24, 24);
    width: 100vw;
    height: 70vh;
  }

  .m-video{
    background-color: red;
    height: 50vh;
  }

  .List-Curso{
    width: 100vw;
  }

  
}